* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url(about/1.jpg);
    background-position: center;
    background-size: cover;
}

.slogan {
    text-align: center;
    padding-top: 25%;
}

.slogan1 {
    text-align: center;
    padding-bottom: 25%;
}

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    transition: 1s;
    cursor: pointer;
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

hr.green {
    border: 3px solid #198754;
}

.section-header h2 {
    font-size: 50px;
    color: #198754;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}

.bot {
    padding: 15px 20px;
    background-color: #ffffff;
    color: #198754;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 10%;
}

.bot:hover {
    background: #198754;
    color: #ffffff;
    box-shadow: 0 0 5px #198754,
        0 0 25px #198754,
        0 0 50px #198754,
        0 0 200px #198754;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.tagline {
    padding: 5%;
}

.inquire {
    background: url(assets/background3.jpg);
    background-repeat: no-repeat;
}