@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Jost:ital@1&family=Montserrat&family=Mulish:ital,wght@1,300&family=Roboto+Slab:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: url(about/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-top: 10%;
}

.head-form {
  background-color: rgb(26, 79, 26);
  border: none;
  outline: none;
  box-shadow: 2px 2px #282424;
}

#my_form {
  background-color: rgb(195, 195, 181);
  padding: 30px;
}

.sbtn1 {
  height: 30px;
  width: 15%;
  outline: none;
  border: none;
  color: black;
  background-color: rgb(24, 134, 64);
  border-radius: 50px;
  margin: 0 auto;
  align-items: flex-end;
  font-weight: lighter;
  transition: all 0.4s;
}

.sbtn1:hover {
  opacity: 0.8;
  color: white;
  border: 4px solid rgb(12, 79, 37);
}
.form-floating input{
height: 30px;
}

.alert p{
  color: rgba(57, 45, 45, 0.532);
}

.alert a{
  color: rgb(17, 195, 31);
  text-decoration: none;
}