@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Jost:ital@1&family=Montserrat&family=Mulish:ital,wght@1,300&family=Roboto+Slab:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: url(about/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.head-form {
  border: none;
  outline: none;
  margin-top: 10%;
}

#my_form {
  background-color: rgb(195, 195, 181);
  padding: 30px;
}

.sbtn1 {
  height: 30px;
  width: 15%;
  outline: none;
  border: none;
  color: black;
  background-color: rgb(24, 134, 64);
  border-radius: 50px;
  margin: 0 auto;
  align-items: flex-end;
  font-weight: lighter;
  transition: all 0.4s;
}

.sbtn1:hover {
  opacity: 0.8;
  color: white;
  border: 4px solid rgb(12, 79, 37);
}
label {
  margin-left: 30px;
}

#datepicker {
  width: 180px;
  margin: 0 20px 20px 20px;
  margin-left: 20px;

}
#datepicker input{
  height: 30px;
}

#timepicker{
  width: 180px;
  margin: 0 20px 20px 20px;
  margin-left: 20px;

}

#timepicker input{
  height: 30px;

}

#datepicker>span:hover {
  cursor: pointer;
}

.bxs-calendar {
  font-size: 30px;
  color: black;
  cursor: pointer;
  transition: all 0.4s;
}

.bx-time-five{
  font-size: 30px;
  color: black;
  cursor: pointer;
  transition: all 0.4s;
}

.time-pickable{
  width: 120px;
}

.time-pickable :active,
.time-pickable :focus, input{
  outline: none;
  border-radius: 5px;
  text-align: center;
}